@require '_Filter'

.date-filter
    .dijitComboBox
        .dijitButtonNode
            padding 0.1em 0.2em 0em 0.2em
        .dijitArrowButtonContainer
            border-width 1px !important
        .dijitInputField
            padding-top 0.15em
