.grid
    button.btn-link
        padding 10px 15px
    .nav-tabs
        margin-bottom 5px
        padding-top 5px
        padding-left 5px
    .dgrid
        .dgrid-row-odd
            background #f5f5f5
        .dgrid-cell.field-OBJECTID
            width 0
        .dgrid-cell
            text-overflow ellipsis
            white-space nowrap
