@require 'vars.styl'
.grid
    button.btn-link
        padding 10px 15px
    .nav-tabs
        margin-bottom 5px
        padding-top 5px
        padding-left 5px
    .dgrid
        .dgrid-header-row
            background-color $background-grey
        .dgrid-row-odd
            background-color #f5f5f5
        .dgrid-cell.field-Id
            width 0
        .dgrid-cell
            text-overflow ellipsis
            white-space nowrap
