<div>
    <div data-dojo-attach-point='mainContainer' class='main-container' data-dojo-type='dijit.layout.BorderContainer'>
        <div class='title-pane' data-dojo-type='dijit.layout.ContentPane' data-dojo-props="region:'top'">
            <h1>
                <span class='title'>Utah Water Chemistry Database</span>
                <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
            </h1>
            <img src="app/resources/agrc_logo.jpg" alt="agrc logo">
        </div>
        <div data-dojo-attach-point='centerContainer' class='center-container' data-dojo-type='dijit.layout.ContentPane' data-dojo-props="region:'center'">
            <div data-dojo-attach-point='mapDiv' class='map-div'>
                <div data-dojo-attach-point="stationNameDiv"></div>
            </div>
        </div>
        <div data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'bottom'">
            <div data-dojo-attach-point="gridDiv"></div>
        </div>
    </div>
</div>