<div>
    <div class='navbar navbar-default navbar-fixed-top'>
        <ul class="nav navbar-nav">
            <li>
                <img class='logo' src="app/resources/images/ugs-logo.svg">
            </li>
            <li class='navbar-brand'>
                Utah Water Chemistry Database
                <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <div data-dojo-attach-point='logoutDiv'></div>
            </li>
        </ul>
    </div>
    <div data-dojo-attach-point='mapDiv' class='map-div'>
        <div data-dojo-attach-point="filterDiv"></div>
    </div>
    <div data-dojo-attach-point="gridDiv"></div>
</div>
