<div>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <label>Add Filter</label>
                    <select data-dojo-attach-point='select'
                        data-dojo-attach-event='change: addFilter'
                        class='form-control'>
                        <option value='none'>select a filter</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div data-dojo-attach-point="container"></div>
</div>