<div>
    <div role="tabpanel">
        <div data-dojo-attach-point='errMsg' class="hidden alert alert-danger"></div>
        <ul class="nav nav-tabs">
            <li class="active" data-dojo-attach-point='stationsTab'>
                <a href="#stations" data-toggle="tab">Stations</a>
            </li>
            <li>
                <a href="#results" data-toggle="tab">Results</a>
            </li>
            <li>
                <button type='button' class='btn btn-link disabled' disabled>Download </button>
            </li>
        </ul>

        <div class="tab-content">
            <div id='stations' class="tab-pane fade in active">
                <div data-dojo-attach-point="stationsGridDiv"></div>
            </div>
            <div id='results' class="tab-pane fade">
                <div data-dojo-attach-point="resultsGridDiv"></div>
            </div>
        </div>
    </div>
</div>
