<table>
    <tbody>
        <tr>
            <td>OrganizationIdentifier</td>
            <td>${OrganizationIdentifier}</td>
        </tr>
        <tr>
            <td>OrganizationFormalName</td>
            <td>${OrganizationFormalName}</td>
        </tr>
        <tr>
            <td>MonitoringLocationIdentifier</td>
            <td>${MonitoringLocationIdentifier}</td>
        </tr>
        <tr>
            <td>MonitoringLocationName</td>
            <td>${MonitoringLocationName}</td>
        </tr>
        <tr>
            <td>MonitoringLocationTypeName</td>
            <td>${MonitoringLocationTypeName}</td>
        </tr>
        <tr>
            <td>HUCEightDigitCode</td>
            <td>${HUCEightDigitCode}</td>
        </tr>
        <tr>
            <td>LatitudeMeasure</td>
            <td>${LatitudeMeasure}</td>
        </tr>
        <tr>
            <td>LongitudeMeasure</td>
            <td>${LongitudeMeasure}</td>
        </tr>
        <tr>
            <td>SourceMapScaleNumeric</td>
            <td>${SourceMapScaleNumeric}</td>
        </tr>
        <tr>
            <td>HorizontalCollectionMethodName</td>
            <td>${HorizontalCollectionMethodName}</td>
        </tr>
        <tr>
            <td>VerticalMeasure_MeasureValue</td>
            <td>${VerticalMeasure_MeasureValue}</td>
        </tr>
        <tr>
            <td>VerticalMeasure_MeasureUnitCode</td>
            <td>${VerticalMeasure_MeasureUnitCode}</td>
        </tr>
        <tr>
            <td>VerticalCollectionMethodName</td>
            <td>${VerticalCollectionMethodName}</td>
        </tr>
        <tr>
            <td>CountryCode</td>
            <td>${CountryCode}</td>
        </tr>
        <tr>
            <td>StateCode</td>
            <td>${StateCode}</td>
        </tr>
        <tr>
            <td>CountyCode</td>
            <td>${CountyCode}</td>
        </tr>
        <tr>
            <td>AquiferName</td>
            <td>${AquiferName}</td>
        </tr>
        <tr>
            <td>FormationTypeText</td>
            <td>${FormationTypeText}</td>
        </tr>
        <tr>
            <td>AquiferTypeName</td>
            <td>${AquiferTypeName}</td>
        </tr>
        <tr>
            <td>ConstructionDateText</td>
            <td>${ConstructionDateText}</td>
        </tr>
        <tr>
            <td>WellDepthMeasure_MeasureValue</td>
            <td>${WellDepthMeasure_MeasureValue}</td>
        </tr>
        <tr>
            <td>MonitoringLocationDescriptionTe</td>
            <td>${MonitoringLocationDescriptionTe}</td>
        </tr>
        <tr>
            <td>DrainageAreaMeasure_MeasureValu</td>
            <td>${DrainageAreaMeasure_MeasureValu}</td>
        </tr>
        <tr>
            <td>DrainageAreaMeasure_MeasureUnit</td>
            <td>${DrainageAreaMeasure_MeasureUnit}</td>
        </tr>
        <tr>
            <td>ContributingDrainageAreaMeasure</td>
            <td>${ContributingDrainageAreaMeasure}</td>
        </tr>
        <tr>
            <td>ContributingDrainageAreaMeasu_1</td>
            <td>${ContributingDrainageAreaMeasu_1}</td>
        </tr>
        <tr>
            <td>HorizontalAccuracyMeasure_Measu</td>
            <td>${HorizontalAccuracyMeasure_Measu}</td>
        </tr>
        <tr>
            <td>HorizontalAccuracyMeasure_Mea_1</td>
            <td>${HorizontalAccuracyMeasure_Mea_1}</td>
        </tr>
        <tr>
            <td>HorizontalCoordinateReferenceSy</td>
            <td>${HorizontalCoordinateReferenceSy}</td>
        </tr>
        <tr>
            <td>VerticalAccuracyMeasure_Measure</td>
            <td>${VerticalAccuracyMeasure_Measure}</td>
        </tr>
        <tr>
            <td>VerticalAccuracyMeasure_Measu_1</td>
            <td>${VerticalAccuracyMeasure_Measu_1}</td>
        </tr>
        <tr>
            <td>VerticalCoordinateReferenceSyst</td>
            <td>${VerticalCoordinateReferenceSyst}</td>
        </tr>
        <tr>
            <td>WellDepthMeasure_MeasureUnitCod</td>
            <td>${WellDepthMeasure_MeasureUnitCod}</td>
        </tr>
        <tr>
            <td>WellHoleDepthMeasure_MeasureVal</td>
            <td>${WellHoleDepthMeasure_MeasureVal}</td>
        </tr>
        <tr>
            <td>WellHoleDepthMeasure_MeasureUni</td>
            <td>${WellHoleDepthMeasure_MeasureUni}</td>
        </tr>
    </tbody>
</table>
