# Packages
*.egg
*.egg-info

# esri
*.lock
*.sde

# python code coverage
.coverage

# test data
temp_tests

# install data
build
dist
*.dmp

# data files
/dbseeder/data/
/dbseeder/tests/data/DOGM*
/dbseeder/tests/data/UDWR*
/dbseeder/tests/data/UGS*

# secrets
secrets.cfg